[submodule "thingsboard-mcp"]
	path = thingsboard-mcp
	url = git@github.com:mylastresort/thingsboard-mcp.git
[submodule "assetopsbench"]
	path = assetopsbench
	url = https://github.com/mylastresort/assetopsbench
	branch = experiment
[submodule "pandas-mcp-server"]
	path = pandas-mcp-server
	url = git@github.com:marlonluo2018/pandas-mcp-server.git
